#main{
    margin-top: 10px;
    max-width: 60%;
    margin: auto;
    height: 700px;
}

 #login-heading{
    text-align: center;
    margin-bottom: 30px;
 }
#card{
    border: 3px solid black;
    padding: 10px;
    margin: auto;
    max-width: 300px;
    height: 550px;
    margin-top:120px ;
    border-radius: 25px;
}

#description{
    text-align: center;
    margin-top: 5px;
}