<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <style>

        #main{
            padding: 30px;
            margin-top: 20px;
            max-width: 70%;
            margin: auto;
            height: 100%;
            border: 4px solid #e3f2fd ;
            border-radius: 25px;

            }
            .navbar{
                border-radius: 25px;
            }
            #sub_heading{
                padding: 20px;
            }
            #patients_nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 15px;
            }
            
            

     </style>



</head>
<body>
    <div id="main">
        <nav class="navbar" style="background-color: #e3f2fd;" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand">Welcome {{this_user.username}}</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div >
            <div id="patients_nav">
                <h4 id="sub_heading">
                Registered Doctors
            </h4>
            <a href="/add">
                <button type="button" class="btn btn-warning">Add New Doctor</button>

            </a>
            </div>
            <table class="table">
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Dr Naveed Akhtar</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Blacklist</button>

                </td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Dr Naveed Akhtar</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
    
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Blacklist</button>

                </td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Dr Naveed Akhtar</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Blacklist</button>

                </td>
                </tr>

            </tbody>
            </table>
        </div>
        <div >
            <h4 id="sub_heading">
                Registered Patients
            </h4>
            <table class="table">
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Salman Khan</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Blacklist</button>

                </td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Shahrukh Khan</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Blacklist</button>

                </td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Amir Khan</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Blacklist</button>

                </td>
                </tr>
</tbody>
  </table>
    </div>
        <div >
            <h4 id="sub_heading">
                Upcoming appointments
            </h4>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Date</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Department</th>
                <th scope="col">Patient History</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>21/11/2025</td>
                <td>Salman</td>
                <td>Dr Naveed</td>
                <td>Neology</td>
                <td>
                    <a href="patient_history.html">
                    <button type="button" class="btn btn-outline-primary">view</button>
                    </a>

                </td>
                </tr>
                <tr>
                <th scope="row">1</th>
                <td>21/11/2025</td>
                <td>Salman</td>
                <td>Dr Naveed</td>
                <td>Neology</td>
                <td>
                    <a href="patient_history.html">
                    <button type="button" class="btn btn-outline-primary">view</button>
                    </a>

                </td>
                </tr><tr>
                <th scope="row">1</th>
                <td>21/11/2025</td>
                <td>Salman</td>
                <td>Dr Naveed</td>
                <td>Neology</td>
                <td>
                    <a href="patient_history.html">
                    <button type="button" class="btn btn-outline-primary">view</button>
                    </a>

                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div>

        </div>
</body>
</html>

