<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Doctor's Availability</title>
    <link rel="stylesheet" href="/static/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <style>
        
        #main{
            padding: 30px;
            margin-top: 20px;
            max-width: 70%;
            margin: auto;
            height: 100%;
            border: 4px solid #e3f2fd ;
            border-radius: 25px;

            }
         
            #sub_heading{
                padding: 20px;
                text-align: center;
            }

            .save-button{
                align-items: flex-end;
            }
          

     </style>



</head>
<body>
    <div id="main">

        <h4 id="sub_heading">
                Doctor's Availability
        </h4>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Slot 1</th>
            <th scope="col">Slot 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">21/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
            <tr>
            <th scope="row">22/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
            <tr>
            <th scope="row">23/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
             <tr>
            <th scope="row">24/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
             <tr>
            <th scope="row">25/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
             <tr>
            <th scope="row">26/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
             <tr>
            <th scope="row">27/11/2025</th>
            <td>
                <button type="button" class="btn btn-outline-primary">9:00 am - 12:00 pm</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">4:00 pm - 7:00 pm</button>
            </td>
            </tr>
        </tbody>
        </table>
        <a href="doctor_dash.html">
                <div class="d-grid gap-2 col-6 mx-auto" id="save-button">
               <input type="submit" class="btn btn-success" value="Save">
            </div>  
        </a>
    </div>
</body>
</html>

